.App {
  text-align: center;
}

.pizza-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pizza-item {
  display: flex;
  width: 150px;
  flex-direction: column;
  border: 2px solid black;
  margin-top: 10px;
  background-color: lightblue;
  text-align: left;
}

.pizza-info {
  padding: 5px;
}

.pizza-description {
  height: 300px;
}

.pizza-price {
  text-align: right;
  padding: 10px;
}

.nextBtn {
  width: 100px;
  height: 50px;
  padding: 5px;
  margin: 10px;
  float: right;
  background-color: lightblue;
  border-radius: 10px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.customer-info-inputs input,
.customer-info-select input{
  margin: 10px;
}

.customer-info-select{
  text-align: left;
}

.order-form-flex{
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
